<ng-container *ngIf="!loading; else skeleton">
  <app-loading
  (closeLoading)="onCloseLoading($event)"></app-loading>
</ng-container>

<ng-template #skeleton>
  <ng-container *ngIf="!displaySkeleton; else content">
    <!-- <div class="skeleton-container">
      <div class="skeleton-left">
        <p-skeleton height="90%" width="90%"  [style]="{margin: '15px 0 0 15px'}"></p-skeleton>
      </div>
      <div class="skeleton-right">
        <div class="skeleton-up">
          <p-skeleton height="80%" width="95%" [style]="{margin: '15px 0 0 25px'}"></p-skeleton>
        </div>
        <div class="skeleton-down">
          <p-skeleton height="86%" width="95%" [style]="{margin: '15px 0 0 25px'}"></p-skeleton>
        </div>
      </div>
    </div> -->
    <app-animated-cube></app-animated-cube>

  </ng-container>

  <ng-template #content>
    <div class="header">
      <div class="sidebar">
        <p-sidebar [(visible)]="sidebarVisible">
          <app-task-factory
          [subtasks]="for_TF_Subtasks"
          [form]="for_TF_Form"
          >
          </app-task-factory>
        </p-sidebar>
        <p-button (click)="sidebarVisible = true" icon="pi pi-arrow-right"></p-button>
      </div>
      <div class="toolbox">
        <app-toolbox
          [projectName]="for_T_ProjectName">      
        </app-toolbox>
      </div>
    </div>

    <div class="body">
      <app-task-view>
        
      </app-task-view>
    </div>
  </ng-template>

