<ng-container *ngIf="!loading; else skeleton">
  <app-loading
  (closeLoading)="onCloseLoading($event)"></app-loading>
</ng-container>

<ng-template #skeleton>
  <ng-container *ngIf="!displaySkeleton; else content">
    <div class="skeleton-container">
      <div class="skeleton-left">
        <p-skeleton height="90%" width="90%"  [style]="{margin: '15px 0 0 15px'}"></p-skeleton>
        <!-- <ng-container *ngFor="let task of for_TF_Subtasks">
          <p-skeleton height="5%" width="50%" [style]="{margin: '15px auto'}"></p-skeleton>
        </ng-container> -->
      </div>
      <div class="skeleton-right">
        <div class="skeleton-up">
          <p-skeleton height="80%" width="95%" [style]="{margin: '15px 0 0 25px'}"></p-skeleton>
        </div>
        <div class="skeleton-down">
          <p-skeleton height="86%" width="95%" [style]="{margin: '15px 0 0 25px'}"></p-skeleton>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #content>
    <p-splitter [style]="{ height: '98vh' }" [panelSizes]="[25, 75]" [minSizes]="[25, 60]">
      <ng-template pTemplate>
          <div  style="flex-grow: 1;" >
            <app-task-factory
              [subtasks]="for_TF_Subtasks"
              [form]="for_TF_Form"
            >
            </app-task-factory>
          </div>
      </ng-template>
      <ng-template pTemplate>
          <p-splitter layout="vertical" [panelSizes]="[10, 90]" [minSizes]="[10,90]">
              <ng-template pTemplate >
                  <div style="flex-grow: 1;" >
                    <app-toolbox
                    [projectName]="for_T_ProjectName">
                      
                    </app-toolbox>
                  </div>
              </ng-template>
              <ng-template pTemplate> 
                  <div style="flex-grow: 1;" >
                    <app-task-view>
                      
                    </app-task-view>
                  </div>
              </ng-template>
          </p-splitter>
      </ng-template>
    </p-splitter>
  </ng-template>
</ng-template>

